.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--br-100);
  background: var(--clr-primary-200);
  background: radial-gradient(ellipse, var(--clr-primary-100) 50%, var(--clr-primary-200) 70%);
  z-index: 1000;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.modalContent {
    background: white;
    color: var(--clr-blue-300);
    padding: 20px;
    border-radius: 8px;
    position: relative;
    width: 100%;
    max-width: 600px;
    max-height: 90vh;
    overflow-y: auto;
    box-sizing: border-box;
    text-align: left;
}
.modalContent h2 {
    margin-bottom: 20px; 
    text-align: center; 
}

.modalClose {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.closeButton:hover{
  filter: drop-shadow(0 0 0.2rem var(--clr-blue-600));
  transform: scale(1.2);
}

.notification {
  position: fixed;
  display: grid;
  gap: .8em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 30px;;
  border-radius: 5px;
  z-index: 1001; 
}

.notification button {
  margin: 10px;
}
