.dashboard {
  height: 50dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  gap: var(--mg-100);
  color: var(--clr-blue-500);
  position: relative;
  border-radius: 1px;
  border: 10px solid border #00008B;
}

.pictureSection {
  margin: 25px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.personalInfoContainer {
  margin: 0px 10px 10px;
  flex-wrap: wrap;
  display: flex;
  align-items: flex-start;
  padding: 20px;
  width: 80%;
  box-sizing: border-box;
  border: 1px solid var(--clr-primary-100);
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  color: var(--clr-blue-500);
}

/* .content {
  color: var(--clr-blue-500);
  height: 100vh;
}

.form {
  padding: 0 var(--mg-200);
  display: flex;
  flex-flow: column wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--mg-100);
  min-width: 260px;
  margin: 20px;
  border: 5px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.h1 {
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
}

.h2 {
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
}

.input {
  width: 500px;
}

@media (min-width: 520px) and (max-width: 767px) {
  .form {
      padding: 0;
      margin-bottom: 20px;
  }

  .input {
      width: 286px;
  }
}

@media (max-width: 519px) {
  .form {
      padding: 0;
      margin-bottom: 20px;
  }

  .content {
    color: var(--clr-blue-500);
    height: 100vh;
}

.form {
    padding: 0 var(--mg-200);
    display: flex;
    flex-flow: column wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--mg-100);
    min-width: 260px;
    margin: 20px;
    border: 5px;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.h1 {
    font-size: var(--fs-700);
    font-weight: var(--fw-bold);
}

.h2 {
    font-size: var(--fs-600);
    font-weight: var(--fw-bold);
}

.input {
    width: 500px;
}

@media (min-width: 520px) and (max-width: 767px) {
    .form {
        padding: 0;
        margin-bottom: 20px;
    }

    .input {
        width: 286px;
    }
}

@media (max-width: 519px) {
    .form {
        padding: 0;
        margin-bottom: 20px;
    }

    .input {
        width: 286px;
    }

}
} */