.content {
  color: var(--clr-blue-500);
  height: 100vh;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.h1 {
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
}