.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: var(--mg-100);
    min-width: 260px;
    max-width: 500px;
    color: var(--clr-primary-100);
    text-align: center;
    margin-bottom: 20px;
}