#root {
  max-width: 1280px;
  height: 100dvh;
  margin: 0 auto;
  text-align: center;
  background-color: var(--clr-blue-500);
}

h1 {
  font-size: var(--fs-700);
}

h2 {
  font-size: var(--fs-500);
}
